@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: ITCBauhaus;
  src: url('/fonts/bauhaus.ttf');
}

@theme {
  --font-bauhaus: 'ITCBauhaus', sans-serif;
}

body {
  font-family: 'Geist', sans-serif;
}

.home_page {

  background: conic-gradient(from 135deg, #0D1B2A 20%, #2E865D);
  background-position: right;
}

.mobile_home {
  background: linear-gradient(to right, #0D1B2A 40%, #1B4332),
    radial-gradient(circle at right, #2E865D 10%, transparent 40%);
  background-blend-mode: overlay;
}